<p style="color: green"><%= notice %></p>

<%= link_to "CSV 파일로 다운로드받기", users_path(format: :csv), download: ["Users", Date.today].join("_") %>

<h1>Users: <%= @users.count %></h1>

<%= form_with url: import_users_path, method: :post do |form| %>
  <%= form.file_field :file , accept: ".csv" %>
  <%= form.button "Import" %>
<% end %>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%#= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%#= link_to "New user", new_user_path %>
